<h1><%= @user.name %></h1>
<% if @user.time_records.any? %>
  <div class="calender">
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-10">
        <div style="font-size:18px;text-align:center;margin-bottom:20px;">
          <% li = [] %>
          <% 25.times do |n| %>
            <% li.push(n) %>
            <% n+=1 %>
          <% end %>
          <%= li.join(" . ") %>
        </div>
      </div>
    </div>
    <% today = Time.now.to_a %>
    <% last = @time_records[-1].created_at.to_a %>
    <% dates = (Date.new(last[5], last[4], last[3])...Date.new(today[5], today[4], today[3]+1)).to_a %>
    <% dates.reverse_each do |date| %>
      <div class="row">
        <div class="col-md-2", style="font-size:30px;"><%= date %></div>
        <div class="col-md-10">
          <div class="box24">
            <%= date %>
            <div class="box-each">
              <% @time_records.each do |tr| %>
                <%=  %>
                <%= tr.created_at %>
                <%= date %>
              <% end %>
            </div>
          
          </div>
        </div>
      </div>
    <% end %>
    <hr>
<% else %>
  <h1>記録がありません。</h1>
<% end %>
