<h1><%= @user.name %></h1>
<% if @user.time_records.any? %>
  <div class="calender">
    <% i=0 %>
    <% @dates.reverse_each do |date| %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div style="position:relative;margin-bottom:20px;">
            <% if i%7==0 %>
              <% 25.times do |n| %>
                <div class="time24" style='margin-left:calc(<%=n%>/24*99%);'><%= n %></div>
              <% end %>
            <% end %>
            <% i+=1 %>
          </div>
        </div>
        <div class="col-md-2" style="font-size:25px;"><%= date.to_s+" "+%w(日 月 火 水 木 金 土)[date.wday].to_s %></div>
        <div class="col-md-10">
          <div class="box24">
            <% 25.times do |n| %>
              <div class="border" style='margin-left:calc(<%=n%>/24*100%);'></div>
            <% end %>
            <% @time_records.each do |tr| %>
              <% if tr.created_at.year==date.year and tr.created_at.month==date.month and tr.created_at.day==date.day %>
                <% end_time = tr.created_at.hour + tr.created_at.min.to_f/60 %>
                <% k = tr.time.split(":") %>
                <% elapsed_time = k[0].to_i+k[1].to_f/60+k[2].to_f/3600 %>
                <div class="box-each" style='margin-left:calc(<%=end_time-elapsed_time%>/24*100%);width:calc(<%= elapsed_time %>/24*100%);background-color:<%= tr.explanation %>;'>
                  <% tr.created_at.hour.to_s+":"+tr.created_at.min.to_s %>
                  <% tr.time %>
                  <% tr.created_at.hour.to_s+":"+tr.created_at.min.to_s+" "+elapsed_time.to_s %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>記録がありません。</h1>
<% end %>


