<h1><%= @user.name %></h1>
<% if @user.time_records.any? %>
  <div class="calender">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div style="font-size:18px;text-align:center;margin-bottom:20px;">
          <% li = [] %>
          <% 25.times do |n| %>
            <% li.push(n) %>
            <% n+=1 %>
          <% end %>
          <%= li.join(" . ") %>
        </div>
      </div>
    </div>
    <% today = Time.now.to_a %>
    <% last = @time_records[-1].created_at.to_a %>
    <% dates = (Date.new(last[5], last[4], last[3])...Date.new(today[5], today[4], today[3]+1)).to_a %>
    <% dates.reverse_each do |date| %>
      <div class="row">
        <div class="col-md-2", style="font-size:30px;"><%= date %></div>
        <div class="col-md-10">
          <div class="box24">
            <% 25.times do |n| %>
              <div class="border" style='margin-left:calc(<%=n%>/24*100%);'></div>
            <% end %>
            <% @time_records.each do |tr| %>
              <% if tr.created_at.year==date.year and tr.created_at.month==date.month and tr.created_at.day==date.day %>
                <% start_time = tr.created_at.hour + tr.created_at.min.to_f/60 %>
                <% k = tr.time.split(":") %>
                <% elapsed_time = k[0].to_i+k[1].to_f/60+k[2].to_f/3600 %>
                <div class="box-each" style='margin-left:calc(<%=start_time%>/24*100%);width:calc(<%= elapsed_time %>/24*100%);'>
                  <%= tr.created_at.hour.to_s+":"+tr.created_at.min.to_s %>
                  <%= tr.time %>
                  <% tr.created_at.hour.to_s+":"+tr.created_at.min.to_s+" "+elapsed_time.to_s %>
                </div>
              <% end %>
            <% end %>
          </div>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>記録がありません。</h1>
<% end %>


